{{ define "main" }}

<!-- events -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ range .Data.Pages.ByTitle }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
      <!-- event一覧一時非公開 -->
      <!-- <p>Coming soon...<br />
      このページでウィーク中のイベントを公開していく予定です。</p> -->
    </div>
    <div class="row">
      <!-- プラグイン本体 -->
<iframe height="1000" width="1000" frameborder="0" scrolling="auto" src="https://jorte.com/calendar/plugin/calendar/view/61760155b1f55c1028c35a01?showRefs=0&amp;refill=month&amp;nationalHoliday=JP"></iframe>
      <!-- プラグインの高さを自動調整するためのスクリプト -->
<script type="text/javascript">
  window.addEventListener("message",_rs,0);function _rs(e){if(e.origin==="https://jorte.com"){$("iframe").each(function(i,el){if ($(el).attr("src")===e.data.location){el.style.height=e.data.height+"px";}});}};
  </script>
    </div>
  </div>
</section>
<!-- /events -->

{{ end }}