{{ define "main" }}
<style type="text/css">

.bg_dark p {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  
</style>

<!-- events -->
<section class="section">
  <div class="container">
    <div class="row pb-2">
      <p>WWO期間に、40を超える連携イベントが開催されます。様々なタイプのイベントをご用意していますので、ご自身にあったイベントにご参加ください。</p>
      <a href="https://tele-okinawa.go.jp/wwo2021/event/event-47/"><img src="/wwo2021/images/events/WWO-1day_big.jpg" class="img-fluid border rounded" alt="WWO 1day"></a>
    </div>
    <div class="row">
      {{ range .Data.Pages.ByDate }}
      <div data-category="{{ .Params.Location | urlize }}" class="col-lg-4 col-sm-6 mb-5">
      <!-- <div class="col-lg-4 col-sm-6 mb-5"> -->
        {{ .Render "event" }}
      </div>
      {{ end }}
      <!-- event一覧一時非公開 -->
      <!-- <p>Coming soon...<br />
      このページでウィーク中のイベントを公開していく予定です。</p> -->
    </div>
    <div class="row">
      <!-- プラグイン本体 -->
      <iframe height="1000" width="100%" frameborder="0" scrolling="auto" src="https://jorte.com/calendar/plugin/calendar/view/6178f21fdee9e7123bc773ff?showRefs=0&amp;refill=month&amp;nationalHoliday=JP&amp;showTaskList=true&amp;showDetail=true"></iframe>
      <!-- プラグインの高さを自動調整するためのスクリプト -->
<script type="text/javascript">
  window.addEventListener("message",_rs,0);function _rs(e){if(e.origin==="https://jorte.com"){$("iframe").each(function(i,el){if ($(el).attr("src")===e.data.location){el.style.height=e.data.height+"px";}});}};
  </script>
    </div>
  </div>
</section>
<!-- /events -->

{{ end }}