{{ define "main" }}

<!-- contact -->
<!-- <section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "contact_us" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
      <div class="col-lg-5 content">
        {{ .Content }}
        <a href="tel:{{ site.Params.mobile }}" class="text-color h5 d-block">{{ site.Params.mobile }}</a>
        <a href="mailto:{{ site.Params.email }}" class="mb-5 text-color h5 d-block">{{ site.Params.email }}</a>
        <p>{{ site.Params.address | markdownify }}</p>
      </div>
    </div>
  </div>
</section> -->
<!-- /contact -->

<section class="section">
  <div class="container">
    <div class="row">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdb8bOY56kh7fEbbpmoh27tfJPaP3DDNXgzdTPrKg2vGVMoYg/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>
  </div>
</section>

<!-- gmap -->
<!-- <section class="section pt-0">
  <div id="map_canvas" 
  data-latitude="{{ site.Params.map.map_latitude }}"
  data-longitude="{{ site.Params.map.map_longitude }}" 
  data-marker="{{ site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ site.Title }}"></div>
</section> -->
<!-- /gmap -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">事務局</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>当イベントは、内閣府「令和３年度　沖縄における長期滞在型テレワークの受入れ体制構築事業」（委託先：一般財団法人沖縄ＩＴイノベーション戦略センター（ISCO））の事業です。<br />
        事務局は、内閣府沖縄総合事務局およびISCOにて運営しております。</p>
      </div>
    </div>
  </div>
</section>
{{ end }}