{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      <div class="col-12">
        <h3 class="section-title" id="1">①出張で沖縄に入る</h3>
        <img src="images/wwo-course/①出張で沖縄に入る.jpg" alt="droppin使い方">
        <p class="">てすと</p>
        <h3 class="section-title" id="2">②中長期ワーケーションを楽しむ</h3>
        <p class="">てすと</p>
        <h3 class="section-title" id="3">③県内企業がテレワークする</h3>
        <p class="">てすと</p>
      </div>
  </div>
</section>



{{ end }}